# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
*.tsbuildinfo

# next.js (apps/web)
.next/
next-env.d.ts
out/

# env & secrets
.env
.env.*
!.env.example

# prisma generated client
libs/database/src/prisma/generated/
prisma/generated/

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# test / coverage
coverage/
.nyc_output/
test-results/
playwright-report/
test/e2e/.auth/

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.swp

# docker volumes (local)
.data/
